<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHATTER-VERSE</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="mainwrapper">
  <header> 
    <div id="logo">
    Chatter Verse</div>
    <nav> <a href="#" title="Link">Logout</a> <a href="#" title="Link">&nbsp;</a><a href="#" title="Link">&nbsp;</a> </nav>
  </header>
  <div id="content">
    <div class="notOnDesktop"> 
      <input type="text" placeholder="Search">
    </div>
    <section id="mainContent"> 
      <h1>
        <a href="/">CHATTER-VERSE</a>
      </h1>
      <nav>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login">login</a>
      </nav>

    <footer>
      Thanks for visiting!
    </footer>
  </div>
  <script src="/javascript/logout.js"></script>
</body>
