<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHATTER-VERSE</title>
  <link rel="icon" type="image/x-icon" href="views/images/v-favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/solar/bulmaswatch.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  
  <div id="content">
<<<<<<< HEAD
    <div class="notOnDesktop">
    </div>
    <main>
    <section class="hero is-half-height is-small">
=======
    <div class="notOnDesktop"> 
    </div>
    <section id="mainContent"> 
      <h1>
        Chatter Verse;</h1>
      <h3>Stay in Touch With Friends and Family</h3>
      <div id="bannerImage"><img src="chatter_verse_image.png" alt=""/></div>
>>>>>>> 5004cfc02001d1aca50032e817857d85bee7dfd0
      
         <main>
      {{!-- {{{ body }}} --}}
    </main>
      <header> 
    <div id="logo" class="title is-1">
    Chatter Verse</div>
         
      <div id="bannerImage" class="image is-centered is-background is-half-height"><img src="chatter_verse_image.png" alt=""/></div>
        <div class="hero-body">
    <p class="subtitle is-3">
      Stay in Touch With Friends and Family
    </p>
     <nav>
         <button id="login" class="button is-round is-info">Login</button>
        <button id="signup" class="button is-round is-link">Sign Up</button>
      </nav>
  </div>
  </header>
</section>
      
    </section>
   
<footer> 
    </footer>
  </div>
  <div id="footerbar"><!-- Small footerbar at the bottom --></div>
</div>
</body>

    <footer>
      Thanks for visiting!
      <aside id="authorInfo"> 
        <!-- The author information is contained here -->
        <div class="end">
        <br />
        &copy; 2022 Chatter Verse.
      </div>
        <p>Authors: Claudia Chittim, Michael Gaytan and Veronica Kolesnikov</p>
      </aside>
    </footer>
  </div>
   <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/javascript/logout.js"></script>
</body>
</html>