<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatter Verse</title>
  <link href="mainpage.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="mainwrapper">
  <header> 
    <div id="logo">
    Chatter Verse</div>
    <nav> <a href="#" title="Link">Logout</a> <a href="#" title="Link">&nbsp;</a><a href="#" title="Link">&nbsp;</a> </nav>
  </header>
  <div id="content">
    <div class="notOnDesktop"> 
      <input type="text" placeholder="Search">
    </div>
    <section id="mainContent"> 
      <h1>
        Chatter Verse;</h1>
      <h3>Stay in Touch With Friends and Family;</h3>
      <div id="bannerImage"><img src="chatter_verse_image.png" alt=""/></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
         <main>
      {{{ body }}}
    </main>
      <aside id="authorInfo"> 
        <!-- The author information is contained here -->
        <h2>Authors of this app:</h2>
        <p>Claudia Chittim, Michael Gaytan and Veronica Kolesnikov</p>
      </aside>
    </section>
   
<footer> 
      <article>
        <h3>Add Photos</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </article>
      <article>
        <h3>Create a Login</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </article>
    </footer>
  </div>
  <div id="footerbar"><!-- Small footerbar at the bottom --></div>
</div>
</body>
</html>
      <nav>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login">login</a>
      </nav>

    <footer>
      Thanks for visiting!
    </footer>
  </div>
  <script src="/javascript/logout.js"></script>
</body>
