<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHATTER-VERSE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/solar/bulmaswatch.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="mainwrapper">
  <header> 
    <div id="logo">
    Chatter Verse</div>
    <nav> <a href="#" title="Link">Logout</a> <a href="#" title="Link">&nbsp;</a><a href="#" title="Link">&nbsp;</a> </nav>
  </header>
  <div id="content">
    <div class="notOnDesktop"> 
      <input type="text" placeholder="Search">
    </div>
    <section id="mainContent"> 
      <h1>
        <a href="/">CHATTER-VERSE</a>
      </h1>
      <nav>
         <button id="logout" class="button is-outlined is-round is-primary">login</button>
        <button id="logout" class="button is-outlined is-round">logout</button>
      </nav>

    <footer>
      Thanks for visiting!
    </footer>
  </div>
   <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/javascript/logout.js"></script>
</body>
