
  <div class="main">
    <p class="sign" align="center">Chatter Verse</p>
    <form id="login-form">
      <input id="login-username" class="un " type="text" align="center" placeholder="Username">
<input id="login-password" class="pass" type="password" align="center" placeholder="Password">
      <a class="submit" align="center">Sign in</a>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>
            
               </form>  
    </div>
     
       <div class="main">
    <p class="sign" align="center">Chatter Verse</p>
    <form id="signup-form">
      <input id="signup-username" class="un " type="text" align="center" placeholder="Username">
<input id="signup-password" class="pass" type="password" align="center" placeholder="Password">
      <button type="submit" align="center">Sign Up</button>
            
             </form>   
    </div>
<script src="/javascript/login.js"></script>

